@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font-title:  "Belanosima", sans-serif;
  --font-text: "PT Sans", sans-serif;
  --text: #080101;
  --background: #faf5f4;
  --primary: #F44336;
  --secondary: #efeea9;
  --accent: #ddda46;
}

body {
  height: 100vh;
  font-family: var(--font-text);
  color: var(--text);
}

#content {
  height: 100%;
}

/* -- Layout -- */

/* --- Header --- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}

.btn-section {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.btn-section > button {
  padding: .7em 2.5em;
}


/* --- Homepage --- */

#home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.presentation {
  flex: auto;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.credits {
  display: flex;
  justify-content: flex-end;
}

.credits > p {
  margin-bottom: .5rem;
  margin-right: 1rem;
}

/* -- Style -- */

/* --- Header --- */

header {
  background-color: var(--background);
}

.brand-name {
  font-family: var(--font-title);
  font-size: 3rem;
  letter-spacing: -2px;
}

.btn-section > button {
  font-family: var(--font-text);
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text);
  border: none;
  border-radius: 15px;
}

.btn-section > button:hover {
  cursor: pointer;
  filter: brightness(103%);
}

.btn-menu {
  background-color: var(--primary);
}

.btn-contact {
  background-color: var(--secondary);
}

.btn-home {
  background-color: var(--accent);
}


/* --- Homepage --- */

#home {
  background-image: url(../images/homepage-background.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
}

.presentation,
.credits > p,
.credits > p > a {
  color: var(--background);
}

.presentation,
.credits {
  background-color: rgba(0,0,0,0.5);
}

.homepage-title {
  font-family: var(--font-title);
  font-size: 3.5rem;
  letter-spacing: -3px;
  max-width: 600px;
}

.description {
  font-size: 1.5rem;
  max-width: 70ch;
}

.credits {
  font-size: .95rem;
}